node_modules
dist
demo
/docs
package-lock.json
.npmrc
package/assets/fonts/google
package/assets/fonts/greattree/icon
package/assets/scss/_icons.scss
package/assets/scss/index.scss
package/index.js

.vscode/*
