.gt-btn-second {
  --btn-color: #517bba;
  --btn-color-hover: #dad9f3;
  --text-color: #fff;
  &.gt-btn-round-no-border {
    --btn-color-hover: #40659f;
  }
}

.gt-btn-yellow {
  --btn-color: #faaf1d;
  --btn-color-hover: #fdedcd;
  --text-color: #fff;
  &.gt-btn-round-no-border {
    --btn-color-hover: #e19e1b;
  }
}

.gt-btn-red {
  --btn-color: #fc806f;
  --btn-color-hover: #fcd8d8;
  --text-color: #fff;
  &.gt-btn-round-no-border {
    --btn-color-hover: #ec7869;
  }
}

.gt-btn-black {
  --btn-color: #55585e;
  --btn-color-hover: #d9d9d9;
  --text-color: #55585e;
  &.gt-btn-round-no-border {
    --btn-color: #f0f0f0;
    color: #55585e !important;
  }
}

.gt-btn-white {
  --btn-color: #55585e;
  --btn-color-hover: #f0f0f0;
  --text-color: #55585e;
}

.gt-btn {
  height: 36px;
  letter-spacing: 0.7px;
  color: var(--btn-color);
  font-weight: 500;
  @apply flex justify-center items-center;
  @apply overflow-hidden text-center whitespace-nowrap;
  @apply relative py-2 px-4 cursor-pointer transition-all duration-300;

  .gt-loading-icon{
    font-size: 18px;
    margin-right: 2px;
  }
}

.gt-btn-round {
  @apply rounded-4  text-white border border-solid border-transparent;
  background: var(--btn-color);
  &:hover {
    background: var(--btn-color-hover);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
  }
  &.gt-btn-white {
    background-color: #fff;
    color: var(--text-color);
    @apply shadow-none;
    &:hover {
      @apply border-transparent;
      background-color: var(--btn-color-hover);
    }
  }
}

.gt-btn-round-no-border {
  font-weight: 400;
  @apply rounded-4  text-white;
  background: var(--btn-color);
  &:hover {
    background: var(--btn-color-hover);
    color: var(--text-color);
  }
  &.gt-btn-white {
    background-color: #fff;
    color: var(--text-color);
    @apply shadow-none;
    &:hover {
      background-color: var(--btn-color-hover);
    }
  }
}

.gt-btn-flat {
  border: none !important;
  height: fit-content;
  padding: 0 2px;
  @apply cursor-pointer relative;
  color: var(--btn-color);
  &:hover {
    .textLine {
      @apply absolute;
      width: fit-content;
      left: 0%;
      bottom: 0;
      border-bottom: 1px solid var(--btn-color);
      animation: textLine 0.3s forwards;
    }
  }
}

.gt-btn-pill {
  @apply bg-white rounded-3xl;
  border: 1px solid var(--btn-color);

  &:hover {
    background: var(--btn-color-hover);
  }
}

.gt-icon-narrow-padding{
  padding: 6px !important;
}

@keyframes textLine {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}
