.box-green {
  --bg-color: #eef5eb;
  --border-color: #32a03d;
}

.box-white {
  --bg-color: #fff;
  --border-color: #aaa;
  &.checked {
    --border-color: #32a03d;
  }
}

.gt-checkbox {
  line-height: 20px;
  @apply select-none;
  @apply cursor-pointer relative;
  @apply flex justify-start items-center;
  input {
    @apply absolute w-0 h-0 opacity-0 cursor-pointer;
  }

  .checkmark {
    width: 10px;
    height: 10px;
    transform: scale(1.5) translateX(2px);
    @apply rounded-sm overflow-hidden;
    @apply border border-solid;
    border-color: var(--border-color);
    background-color: var(--bg-color);
    @apply transition-all duration-300;

    svg{
      width: 8px !important;
      @apply text-white;
      position: relative;
      bottom: 7px;
      left: 1px;

    }
  }

  .checked {
    @apply bg-main;
    .gt-icon {
      @apply text-white;
      width: 10px;
      height: 10px;
      line-height: 10px;
      font-size: 12px;
      position: absolute;
      left: -1.5px;
      top: 0px;
    }
    &.disabled{
      svg {
        @apply text-gray0;
      }
    }

  }
  .disabled {
    @apply border border-gray0;
    @apply bg-white;
    @apply cursor-not-allowed;
    .icon {
      @apply text-gray0;
    }
  }
  .label {
    padding: 0 10px 0 18px;
    &.label-disabled {
      @apply cursor-not-allowed text-gray0;
    }
  }

  .checkbox-error-msg{
    @apply absolute left-0.5 -bottom-4 text-danger;
    font-size: 12px;
    letter-spacing: 0.6px;
    white-space: nowrap;
  }
}
