@import "./_icons.scss";

.gt-icon-sm {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.gt-icon-md {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.gt-icon-lg {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.gt-icon-spin::before {
  animation: gt-icon-spin 1s infinite linear;
}
@keyframes gt-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
