.gt-wrapper {
  z-index: 1;
  overflow: hidden;
  @apply grid h-screen bg-gray3;
  transition: 0.4s width ease-in-out;
  width: inherit;
  grid-template-columns: 100px 120px 1fr;
  grid-auto-rows: 80px 1fr;

  .gt-headline-header {
    @apply col-start-1 col-end-4 row-start-1 row-end-2;
    @apply flex;
    .gt-headline {
      @apply text-main font-bold text-lg leading-6 flex justify-center items-center;
      animation: layoutOpen 0.5s both;
      height: 80px;
      @apply relative;

      .gt-icon {
        @apply absolute;
        top: 30px;
        left: 51px;
        cursor: pointer;
      }
      .head-text {
        position: absolute;
        top: 30px;
        left: 82px;
        transition: all 0.4s ease-in-out;
        width: fit-content;
        white-space: nowrap;
        opacity: 1;
        z-index: 1;
      }
    }

    .gt-header {
      @apply w-full flex justify-between items-center;
      @apply pl-14;
      @apply relative;
      .title {
        @apply flex;
      }
    }
  }

  .gt-sidebar-content {
    @apply col-start-1 col-end-4 row-start-2 row-end-3;
    @apply flex;
    .gt-sidebar {
      overflow: visible;
      animation: layoutOpen 0.5s both;
      transition: 0.4s width ease-in-out;
      z-index: 100;
      @apply flex flex-col;
      .gt-menu-box {
        margin: auto;
        flex-grow: 2;
        @apply w-full relative;
        height: calc(100vh - 170px);
        @apply overflow-y-scroll;
        &::-webkit-scrollbar {
          width: 0px !important;
        }
        &::after {
          content: '';
          width: 1px;
          height: calc(100vh - 170px);
          @apply block bg-gray3 absolute top-0 right-0;
        }

        .gt-menus {
          transition: left 0.4s ease-in-out;
          position: relative;
          top: 0px;
          left: 76px;
        }
      }

      .gt-bottomLogo {
        @apply relative;
        height: 65px;
        img {
          &:nth-child(1) {
            transition: left 0.4s ease-in-out;
            @apply absolute;
            top: 10px;
            left: 76px;
          }
          &:nth-child(2) {
            @apply absolute;
            top: 15px;
            left: 106px;
          }
        }
      }
    }

    .gt-content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: 0.4s width ease-in-out;
    }

    .gt-content {
      @apply relative overflow-y-scroll;
      height: calc(100vh - 80px);
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #d9d9d9;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #aaaaaa;
        &:hover {
          background-color: #666666;
        }
      }
    }
  }
}

.gt-wrapper {
  &.collapsed {
    .gt-headline-header {
      .gt-headline {
        animation: layoutClose 0.5s both;
        .head-text {
          width: 0;
          opacity: 0;
          z-index: -1;
        }
      }
      .gt-header {
        @apply pl-0;
      }
    }

    .gt-sidebar-content {
      .gt-sidebar {
        animation: layoutClose 0.5s both;
        .gt-menu-box {
          padding: 0 10px;
          &::after {
            width: 0px;
          }
          .gt-menus {
            position: fixed;
            left: 32px;
            top: 80px;
          }
        }
        .gt-bottomLogo {
          @apply relative;
          height: 65px;
          img {
            &:nth-child(1) {
              left: 44px;
            }
          }
        }
      }
    }
  }
}

@keyframes layoutOpen {
  0% {
    width: 100px;
  }
  100% {
    width: 290px;
  }
}

@keyframes layoutClose {
  0% {
    width: 290px;
  }
  100% {
    width: 100px;
  }
}
