.gt-loading-wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  background: rgba(0, 0, 0, 0.1);
  @apply fixed left-0 top-0 z-top-10;
  @apply flex justify-center items-center;
  .gt-loadBox {
    width: 140px;
    height: 140px;
    border-radius: 30px;
    @apply bg-color5;
  }

  .gt-loadAni {
    @apply z-top text-center border-4 border-solid border-transparent border-l-white rounded-full;
    width: 85px;
    height: 85px;
    @apply absolute;
    left: 28px;
    top: 28px;
    animation: namemf 1s linear infinite;
  }
  .gt-loadText {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@keyframes namemf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
