.gt-menus {
  width: 230px;
  padding: 0px 0;

  .gt-menu-group {
    width: 100%;
    min-height: 36px;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    @apply select-none;
    @apply bg-gray3;
    @apply text-gray1 flex flex-col items-center;
    .menu-text {
      @apply w-full flex justify-between items-center cursor-pointer;

      .left {
        @apply flex justify-center items-center;
        .iconBox {
          @apply flex justify-center items-center;
          width: 36px;
          height: 36px;
          &.collapesed{
            @apply bg-color2;
          }
        }
      }

      &:hover {
        @apply text-main;
        .group-icon {
          color: #32a03d !important;
          @apply transition-all duration-500;
        }
      }
    }

    .childBox {
      width: 230px;
      overflow: hidden;
      transition: 0.4s all ease-in-out;
      .line {
        width: 100%;
        height: 1px;
        @apply bg-color3;
        margin: 19px 0;
      }

      .gt-menu-group-item {
        padding: 6px 0 6px 30px;
        letter-spacing: 0.8px;
        border-radius: 5px;
        margin: 4px 0;
        @apply text-gray1 flex justify-start items-center cursor-pointer;
        .child-icon {
          margin-right: 10px;
        }
        &:hover {
          @apply bg-color1;
        }
        &.active {
          @apply bg-soft text-main;
          .child-icon {
            color: #32a03d !important;
          }
        }
      }

      &.open {
        opacity: 1;
        z-index: 100;
      }
    }
  }
}

.gt-menus {
  &.collapsed {
    width: 60px;

    .menu-text {
      @apply justify-center;
    }
    .gt-menu-group {
      position: relative;
      .childBox {
        width: 160px;
        max-height: 50vh;
        transition: 0.4s opacity ease-in-out, 0.4s height ease-in-out;
        position: absolute;
        left: 60px;
        top: -4px;
        @apply rounded-4;
        background: rgba(251, 251, 249, 0.3);
        .gt-menu-group-item {
          width: 160px;
          padding-left: 10px;
        }

        &::-webkit-scrollbar {
          width: 0px !important;
        }
        &.open {
          overflow-y: scroll;
        }
      }
    }
  }
}
