.gt-switch-input {
  height: 22px;
  width: fit-content;
  @apply flex items-center cursor-pointer;
  input {
    @apply absolute w-0 h-0 opacity-0 cursor-pointer;
  }
  .bar {
    @apply block w-10 h-5 rounded-full bg-gray-300;

    &.bg-close {
      @apply bg-gray-300;
    }
    &.bg-open {
      @apply bg-main;
    }
  }

  .dot {
    @apply absolute left-0.5 top-0.5 bg-white w-4 h-4 rounded-full transition;
    &.checked {
      transform: translateX(120%);
    }
  }
  .label-text {
    margin: 0 10px;
    letter-spacing: 0.8px;
    @apply text-gray0 select-none font-normal leading-4 text-base;
  }
}
