@import 'index'; 

.gt-e-input-search {
  .el-input__wrapper {
    @apply text-sm;
    border-radius: 37px;
    max-width: 220px;
    height: 36px;
    padding: 8px 0px 8px 32px;
  }
}

// .gt-e-input-plain {
//   .el-input__wrapper {
//     @apply text-base;
//     max-width: 280px;
//     height: 36px;
//     padding: 14px 8px;
//     border-radius: 10px;
//     box-shadow: inset 0px 0px 4px rgba(59, 176, 137, 0.2);
//     border: 1px solid #d9d9d9;
//   }
// }

// .gt-e-input {
//   .el-input__wrapper {
//     @apply rounded-lg bg-tableHover text-base;
//     max-width: 300px;
//     height: 36px;
//     padding: 10px 15px;
//   }
// }

.gt-e-tabs {
  .el-tabs__nav-wrap::after {
    width: 0;
  }
  .el-tabs__active-bar{
    transition: none;
  }
  .el-tabs__item {
    height: 32px;
    text-align: center;
    background: #FBFBF9;
    color: $gt-text-dark;
    @apply text-lg;
    min-width: 130px;
    padding: 0 8px 8px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    line-height: 24px;
  }
}

.gt-e-dropdown {
  border-radius: 6px !important;
}

.gt-e-dropdown-item {
  @apply px-2 rounded-lg;
}

.gt-e-dropdown-menu {
  padding-left:.5rem !important;
  padding-right:.5rem !important;
  border-radius: .5rem !important;
}

$color: (
  primary:  $gt-primary,
  success: $gt-positive,
  warning:  $gt-warning,
  danger: $gt-negative
);

$color-hover: (
  primary:  $gt-primary-hover,
  success: $gt-positive-hover,
  warning:  $gt-warning-hover,
  danger: $gt-negative-hover
);

$round-hover-color: (
  primary:  $gt-hover,
  success: $gt-tag-normal-bg,
  warning:  $gt-tag-warning-bg,
  danger: $gt-tag-danger-bg
);

$tag-color: (
  success: $gt-tag-normal,
  warning:  $gt-tag-warning,
  danger: $gt-tag-danger
);

.gt-e-button{
  &.el-button{
    padding: 8px 16px;
    line-height: 1.715em;
    min-height: 2.572em;
    border: 0 !important;
    &:not([class*=el-button--]){
      background-color: $gt-positive;
      color: #fff;
      &:focus,
      &:hover{
        background-color: $gt-positive-hover;
        color: #fff;
      }
    }

    &[class*=el-button--]{
      &:hover{
        color: #fff;
      }
    }
    .el-icon,
    [class*="el-icon-"]{
      --color:#fff;
      color: #fff;
    }
    [class*=el-icon] + span{
      margin-left: 5.5px;
    }
    span + [class*=el-icon]{
      margin-right: 5.5px;
    }
    span{
      letter-spacing: .7px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
    }
    &.el-button--gary{
      background-color: $gt-info !important;
      span{
        color: $gt-text-gray !important;
      }
      &:focus,
      &:hover{
        background: $gt-gray !important;
        span{
          color: $gt-text-gray !important;
        }
      }
    }
  }
  @each $key, $value in $color-hover {
    &.el-button--#{$key} {
      &:focus,
      &:hover{
        background: $value !important;
      }
    }
  }
}

.gt-e-text-button{
  &.el-button{
    border: 0 !important;
    background: transparent !important;
    &:focus,
    &:hover{
      background: transparent !important;
    }
    @each $key, $value in $color-hover {
      &.el-button--#{$key} {
        span{
          color: $value !important;
        }
      }
    }
    span{
      color: $gt-text-gray;
      line-height: 20px;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.7px;
    }
    &:hover{
      span{
        font-weight: 500;
      }
    }
  }
}

.gt-e-filter{
  padding: 8px 16px;
  line-height: 1.715em;
  min-height: 2.572em;
  border-color: $gt-gray-variant;
  span{
    letter-spacing: .7px;
    line-height: 20px;
    color: $gt-text-gray;
  }
  @each $key, $value in $color {
    &.el-button--#{$key} {
      &.is-round{
        background-color: #fff;
        border-color: $value;
        span{
          color: $value;
        }
        &:focus,
        &:hover{
          background-color: #fff !important;
          border-color: $value;
          span{
            color: $value;
          }
        }
      }
    }
  }
  @each $key, $value in $round-hover-color {
    &.el-button--#{$key} {
      &.is-round{
        background:  $value !important;
        &:hover{
          background:  $value !important;
        }
      }
    }
  }
}

.gt-e-link{
  @each $key, $value in $color {
    &.el-link--#{$key} {
      .el-link__inner{
        font-weight: 400;
        letter-spacing: .8px;
      }
      &:hover{
        color: $value;
        .el-link__inner{
          font-weight: 500;
        }
        &::after{
          content: "";
          position: absolute;
          left: 0;
          height: 1px !important; 
          width: 0;
          bottom: 0px !important;
          width: 100%;
          border-bottom:none;
          background-color: $value;
        }
      }
    }
  }
}
.gt-e-disabled-link{
  &.is-disabled{
    color: $gt-gray-variant !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: $gt-gray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $gt-gray-variant;
  &:hover{
    background-color:$gt-gray-dark;
  }
}

.gt-e-radio{
  .el-radio__input{
    padding: 3px;
    .el-radio__inner{
      width: 18px;
      height: 18px;
      border: 2px solid #DCDFE6;
      &:hover{
        border-color:$gt-primary;
      }
    }
    &.is-checked {
      .el-radio__inner{
        border-color:$gt-primary;
        background:#ffffff;
        &::after{
          background-color:$gt-primary;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .el-radio__label{
    padding-left: 9px;
    font-size: 16px;
    color: $gt-text-dark !important;
  }
}

.gt-e-checkbox{
  .el-checkbox__input{
    padding: 3px;
    .el-checkbox__inner{
      width: 18px;
      height: 18px;
      border: 2px solid #dcdfe6;
      &:hover{
        border-color:$gt-primary;
      }
    }
    &.is-checked {
      .el-checkbox__inner{
        border-color:$gt-primary;
        background:$gt-primary;
        &::after{
          left: 5px;
          top: 1px;
          border: 2.5px solid #fff;
          border-left: 0;
          border-top: 0;
        }
      }
    }
    &.is-focus{
      .el-checkbox__inner{
        border-color:$gt-primary;
      }
    }
  }
  .el-checkbox__label{
    padding-left: 9px;
    font-size: 16px;
    color: $gt-text-dark !important;
  }
}

.gt-e-switch{
  &.el-switch{
    .el-switch__core{
      border-color:#909399;
      background-color:#909399;
    }
    &.is-checked{
      .el-switch__core{
        border-color:$gt-primary;
        background-color:$gt-primary;
      }
    }
  }
}

.gt-e-pagination{
  &.el-pagination{
    .el-pager {
      margin: 0 8.5px;
      li{
        min-width: 28px;
        color: $gt-primary;
        border-radius: 50%;
        font-size: 16px;
        line-height: 23px;
        background-color: transparent;
        &:hover{
          color: $gt-darker;
        }
        &.is-active,
        &.active{
          color: #fff;
          background:$gt-darker;
          border-radius: 50%;
          height: 28px;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    &.is-background{
      .el-pager{
        li{
          border-radius: 50%;
        }
        li:not(.disabled).is-active,
        li:not(.disabled).active{
          background:$gt-darker;
          &:hover{
            color: #fff;
          }
        }
        li:not(.disabled):hover{
          color: $gt-darker;
        }
      }
      .btn-next,
      .btn-prev{
        border-radius: 50%;
      }
    }
    button{
      background-color: transparent;
      &:hover{
        color:$gt-darker;
      }
    }
    .btn-next,
    .btn-prev{
      color:$gt-darker;
    }
  }
}

.gt-e-tag{
  &.el-tag,
  &span.el-tag{
    padding: 3px 10px;
    line-height: 20px;
    height: auto;
    font-size: 14px;
    font-weight:500;
    letter-spacing: .7px;
    border-radius: 5px;
    &.gt-e-point{
      position: relative;
      padding: 4px 10px 4px 26px !important;
      &::after{
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: 12px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: $gt-darker;
      }
      @each $key, $value in $tag-color {
        &.el-tag--#{$key} {
          &::after{
            background-color: $value !important;
          }
        }
      }
    }
    &[class*=el-tag--light]{
      border: 1px solid $gt-primary-hover;
    }
    @each $key, $value in $tag-color {
      &.el-tag--light.el-tag--#{$key} {
        border: 1px solid $value !important;;
        &.gt-e-tag-bd-none{
          border: none !important;
        }
      }
    }
    span{
      font-size: inherit;
      font-weight:inherit;
      letter-spacing: inherit;
    }
  }
  &.gt-e-tag-bd-none{
    border: none !important;
    padding: 4px 10px;
  }
}

.el-dialog{
  position: absolute !important;
  left: 50% ;
  top: 50% ;
  margin: 0 !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 4px;
}
.el-dialog__header{
  padding: 12px 40px 8px !important;
  margin-right: 0 !important;
  .el-dialog__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
.el-dialog__body{
  padding: 20px 40px 40px !important;
  border-bottom: 1px solid #D9D9D9;
  .gt-e-dialog{ 
    line-height: 23px;
    font-size: 16px !important;
    color: $gt-text-gray;
  }
}
.el-dialog__footer{
  padding: 10px 12px !important;
  .el-button:not(.is-text){
    border: 0;
  }
  .el-button--text{
    color: $gt-text-gray !important;
    &:hover{
      background-color: $gt-gray-light !important;
      color: $gt-text-gray !important;
    }
  }
  .el-button + .el-button{
    margin-left: 10px;
  }
}
.el-dialog__headerbtn{
  top: 9px !important;
  right: 20px !important;
  width: 10px !important;
  height: 10px !important;
  .el-dialog__close{
    color: $gt-gray !important;
    font-size: 1.5rem;
    font-weight: 900;
  }
  &:hover{
    .el-dialog__close{
      color: $gt-gray !important;
    }
  }
}

.el-e-date-picker{
  .el-input__wrapper{
    padding: 0 17.5px;
    .el-input__prefix{
      .el-icon{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 14px;
          height: 14px;
          background-size: 14px 14px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMDExMjMgMS43NUg4Ljk0ODczVjAuNjU2MjVDOC45NDg3MyAwLjI5Mzk0NSA5LjI0MTMxIDAgOS42MDQ5OCAwQzkuOTY4NjUgMCAxMC4yNjEyIDAuMjkzOTQ1IDEwLjI2MTIgMC42NTYyNVYxLjc1SDExLjM1NUMxMi4zMjAyIDEuNzUgMTMuMTA1IDIuNTMzNCAxMy4xMDUgMy41VjEyLjI1QzEzLjEwNSAxMy4yMTUyIDEyLjMyMDIgMTQgMTEuMzU1IDE0SDIuNjA0OThDMS42MzgzOCAxNCAwLjg1NDk4IDEzLjIxNTIgMC44NTQ5OCAxMi4yNVYzLjVDMC44NTQ5OCAyLjUzMzQgMS42MzgzOCAxLjc1IDIuNjA0OTggMS43NUgzLjY5ODczVjAuNjU2MjVDMy42OTg3MyAwLjI5Mzk0NSAzLjk5MTMxIDAgNC4zNTQ5OCAwQzQuNzE4NjUgMCA1LjAxMTIzIDAuMjkzOTQ1IDUuMDExMjMgMC42NTYyNVYxLjc1Wk0yLjE2NzQ4IDEyLjI1QzIuMTY3NDggMTIuNDkwNiAyLjM2MzI2IDEyLjY4NzUgMi42MDQ5OCAxMi42ODc1SDExLjM1NUMxMS41OTU2IDEyLjY4NzUgMTEuNzkyNSAxMi40OTA2IDExLjc5MjUgMTIuMjVWNS4yNUgyLjE2NzQ4VjEyLjI1WiIgZmlsbD0iIzU1NTg1RSIvPgo8L3N2Zz4K);
          display: block;
          transform: translateY(-50%);
        }
        svg{
          display: none;
        }
      }
    }
    .el-input__inner{
      padding: 8px 0;
      height: auto;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: .7px;
      border-color: $gt-gray;
      color: $gt-text-gray;
      &:focus{
        color: $gt-primary;
        border-color:$gt-primary;
      }
    }
    &.is-focus{
      .el-input__inner{
        color: $gt-primary;
        border-color:$gt-primary;
      }
    }
  }
}

.el-popper{
  &.el-picker__popper{
    padding: 16px !important;
    .el-date-picker{
      width: 294px;
      .el-picker-panel__body{
        padding-bottom: 25px;
      }
      .el-date-picker__time-header{
        position: absolute;
        bottom: 0;
        border-bottom:0;
        padding: 12px 0 0 0;
        .el-date-picker__editor-wrap{
          padding: 0;
          &:nth-child(1){
            display: none;
          }
          .el-input__wrapper{
            padding: 0;
            border: 1px solid $gt-gray-light;
          }
        }
        .el-picker-panel__icon-btn{
          margin-top: 0;
        }
        .el-input__inner{
          background-color: $gt-form-hover;
          height: 32px;
          line-height: 32px;
          padding: 7px 12px;
          font-size: 12px;
          &:hover,
          &:focus{
            border-color:$gt-darker;
          }
        }
      }
      .el-picker-panel__footer{
        border-top:0;
        padding: 12px 0 0 0;
        .el-button--small{
          --el-button-size: auro;
          height: auto;
          padding: 6px 15px;
        }
      }
      .el-date-picker__header{
        margin: 4px 12px;
        .el-picker-panel__icon-btn{
          margin-top: 0;
        }
      }
      .el-picker-panel__content{
        margin: 0;
        padding-bottom: 12px;
        width: 100% !important;
      }
    }
  }
}

.el-date-table {
  td{
    div{
      height: auto;
      padding: 0;
      span{
        width: 28px;
        height: 28px;
        line-height: 28px;
        position:relative;
        left: 0;
        transform: translateX(0);
      }
    }
    &.start-date{
      div{
        margin-left: 0px;
      }
    }
    &.end-date,
    &.start-date{
      span{
        background-color:$gt-darker;
      }
    }
    &.today {
      span{
        color:$gt-primary;
      }
    }
    &.current:not(.disabled){
      span{
        background-color:$gt-darker;
      }
    }
    &.available{
      &:hover{
        color: $gt-primary;
      }
    }
    span{
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.el-year-table,
.el-month-table{
  td{
    .cell{
      &:hover{
        color:$gt-darker;
      }
    }
    &.today{
      .cell{
        color:$gt-primary;
      }
    }
    &.current:not(.disabled) {
      .cell{
        color:$gt-primary;
      }
    }
  }
}
.el-date-picker__header-label{
  &:hover{
    color:$gt-darker;
  }
}
.el-date-editor.el-input__inner{
  &.is-active,
  &:hover,
  &:focus{
    border-color:$gt-darker;
  }
}

.el-message{
  box-shadow:$gt-shadow;
  padding: 16px 30px !important;
  &.el-message--success{
    border: 2px solid #BAC7E2;
  }
  &.el-message--warning{
    border: 2px solid #FFEDC3;
  }
  &.el-message--error{
    border: 2px solid #FFEAE8;
  }
  .el-icon{
    height: 23px;
    line-height: 23px;
  }
  .el-message__content{
    font-size: 16px;
    line-height: 23px;
    color: $gt-text-gray !important;
  }
}

.el-loading-mask{
  &.is-fullscreen{
    background-color: rgba(0, 0, 0, 0.7);
    .el-loading-spinner {
      background: #F7E488;
      width: 140px;
      height: 140px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      .circular{
        width: 80px !important;
        height: 80px !important;
        .path{
          stroke-width: 2.75px;
          stroke: #fff;
        }
      }
    }
    .el-loading-text{
      color: $gt-text-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: .8px;
      padding: 0;
      margin: 0;
    }
  }
}

#app{
  .gt-e-header{
    background-color:$gt-bg !important;
    color: $gt-text-dark !important;
    height: 80px !important;
    box-shadow: none !important;
    padding: 0 60px;
    .hamburger-container{
      padding: 0;
      display: inline-grid;
      .hamburger{
        align-self: center;
      }
    }
    .breadcrumb-container{
      display: flex;
      margin-left: 0;
      height: 100%;
      align-items: center;
      .el-breadcrumb__item{
        align-self: center;
      }
    }
    .right-menu{
      display: flex;
      align-items: center;
      > div{
        height: auto;
        line-height: initial;
        padding: 0 10px;
      }
      .avatar-container{
        padding-right: 0;
        .avatar-wrapper{
          margin-top: 0;
          .user-avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  
  .gt-e-sidebar{
    &.sidebar-container{
      width: 300px !important;
      background-color: $gt-bg !important;
      overscroll-behavior: contain;
      .sidebar-logo-container{
        background-color: $gt-bg;
        padding: 32px 0 20px 67px;
        line-height: 24px;
        height: 80px;
        .sidebar-logo-link{
          text-align: left;
          display: flex;
          align-items: center;
          .sidebar-logo{
            width: auto;
            max-height: 24px;
            margin-right: 17px;
          }
          .sidebar-title{
            letter-spacing: .9px;
            line-height: 24px;
            font-weight: 700;
            font-size: 18px;
            color:$gt-darker;
            font-family: 'Noto Sans TC', sans-serif !important;
          }
        }
      }
      .el-scrollbar{
        overflow: initial;
        height: calc(100vh - 150px);
        // height: calc(100vh - 248px);
        &::before{
          content: '';
          position: absolute;
          bottom: -70px;
          // bottom: -168px;
          left: 0;
          background-color: $gt-bg !important;
          width: 100%;
          // height: 168px;
          height: 70px;
          z-index: 10;
        }
        &::after{
          content: "";
          position: absolute;
          background-image: url('https://www.greattree.com.tw/files/00-logo-icon/logo.svg');
          width: 120px;
          height: 28px;
          z-index: 15;
          // bottom: -62.5px;
          bottom: -50px;
          left: 50%;
          // transform: translate(-50%, -50%);
          transform: translate(-50%, 0);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }
        .scrollbar-wrapper{
          .el-scrollbar__view{
            ul.el-menu{
              background-color: $gt-bg !important;
              a{
                .el-menu-item{
                  background-color: $gt-bg !important;
                  color: $gt-text-gray !important;
                  height: 50px;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: .8px;
                  font-weight: 500;
                  padding: 18px 27px 8px 70px !important;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  -webkit-text-overflow: ellipsis;
                  -o-text-overflow: ellipsis;
                  display: flex;
                  align-items: center;
                  .svg-icon{
                    vertical-align: middle;
                    width: 24px;
                    height: 24px;
                  }
                  &:hover{
                    background-color: $gt-bg !important;
                    color: $gt-primary !important;
                  }
                }
                &.router-link-active.router-link-exact-active{
                  .el-menu-item.is-active {
                    color: $gt-primary !important;
                  }
                }
              }
              .el-submenu{
                .el-submenu__title{
                  background-color: $gt-bg !important;
                  color: $gt-text-gray !important;
                  height: 50px;
                  line-height: 24px;
                  font-size: 16px;
                  font-weight: 500;
                  letter-spacing: .8px;
                  padding: 18px 27px 8px 70px !important;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  -webkit-text-overflow: ellipsis;
                  -o-text-overflow: ellipsis;
                  .svg-icon{
                    vertical-align: middle;
                  }
                  &:hover{
                    background-color: $gt-bg !important;
                    color: $gt-primary !important;
                  }
                  .el-submenu__icon-arrow{
                    top: calc(50% + 2px);
                    right: 35px;
                    margin-top: 0;
                    font-size: 16px;
                    font-weight: 900;
                  }
                }
                &.is-opened{
                  .el-menu.el-menu--inline{
                    background-color: $gt-bg !important;
                    .nest-menu{
                      .el-menu-item{
                        background-color: $gt-bg !important;
                        color: $gt-text-gray !important;
                        height: 40px;
                        padding: 8px 30px !important;
                        margin: 0 20px 0 50px;
                        line-height: 24px !important;
                        font-size: 16px;
                        letter-spacing: .8px;
                        &:hover{
                          border-radius: 4px;
                          background-color: $gt-soft !important;
                          color: $gt-primary !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .gt-e-main-container{
    &.main-container{
      margin-left: 300px !important;
    }
  }
}

.gt-e-table{
  border-radius: 10px;
  box-shadow:$gt-shadow;
  .el-table__inner-wrapper{
    .el-checkbox{
      display: flex;
      justify-content: center;
      .el-checkbox__inner{
        width: 18px;
        height: 18px;
      }
      &.is-checked{
        .el-checkbox__input {
          &.is-checked{
            .el-checkbox__inner{
              &::after{
                left: calc(50% - 1.5px);
                top: calc(50% - 5.5px);
                will-change: tranform;
                transition:none !important;
              }
            }
          }
        }
      }
    }
    .el-table__header-wrapper{
      thead{
        tr{
          th{
            &.el-table__cell{
              background-color: $gt-soft;
              padding: 7px 0;
              border: none;
              .cell{
                color: $gt-darker;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: .8px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .el-table__body-wrapper{
      tbody{
        .el-table__row{
          position: relative;
          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #fff;
            z-index: 1;
          }
          &:hover{
            &::after{
              display: none;
            }
            .el-table__cell{
              background-color: #FAFAFA !important;
            }
          }
        }
        .el-table__cell{
          padding: 14.5px 0;
          border-bottom-width: 0;
          border-top: 5px solid #fff;
          &:nth-last-child(1){
            border-bottom: 5px solid #fff;
          }
          .cell{
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: .8px;
            color: $gt-text-gray;
          }
        }
        .checked.el-table__row{
          td{
            background:$gt-form-hover;
            &.el-table-column--selection{
              background: transparent;
              position: relative;
              .cell{
                position: relative;
                z-index: 5;
              }
              &::before{
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 5.5px;
                width: calc(100% - 5.5px);
                height: 100%;
                background-color: #32A03D;
                border-radius: 5px;
                z-index: 2;
              }
              &::after{
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 8.5px;
                width: calc(100% - 8.5px);
                height: 100%;
                background-color: $gt-form-hover;
                z-index: 3;
              }
            }
          }
          &:hover{
            td{
              background:$gt-form-hover !important;
            }
          }
        }
      }
    }
  }
}

.gt-e-input{
  &.is-disabled{
    .el-input__wrapper{
      background-color: $gt-gray-light;
    }
  }
  .el-input__wrapper{
    box-shadow: 0 0 0 1px $gt-pressing inset;
    background-color: $gt-form-hover;
    padding: 10px 0 10px 20px;
    border-radius: 8px;
    &:hover{
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .el-input__inner{
      color: $gt-text-dark;
      line-height: 23px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .8px;
    }
  }
}

// 未驗證
.gt-menu {
  height: 100%;
  --el-menu-bg-color: var(--gt-bg-color) !important;
  .el-menu {
    --el-menu-bg-color: var(--gt-bg-color);
  }
  .el-sub-menu__title,
  .el-menu-item {
    @apply leading-6 text-base;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: #55585e !important;
  }

  .el-sub-menu__title {
    height: 50px;
  }

  .el-menu-item {
    height: 32px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .el-menu-item:hover,
  .el-sub-menu__title:hover {
    --el-menu-hover-bg-color: #e0f2de !important;
  }

  .el-menu-item.is-active {
    background-color: #e0f2de;
    color: #3bb071 !important;
  }

  .el-menu--inline {
    width: 90%;
    margin: 20px auto 0 auto;
    border-top: 1px solid #d9d9d9 !important;
    padding-top: 19px;
  }
}
