@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import 'index'; 

.gt-dropdown {
  @apply rounded-md;
  border-radius: 6px !important;
}

.gt-dropdown-item {
  @apply px-2 rounded-lg;
}

.gt-dropdown-menu {
  @apply px-2 rounded-lg;
}

.gt-tabs {
  .el-tabs__nav-wrap::after {
    // width: 0;
  }

  .el-tabs__item {
    min-width: 120px;
    height: 32px;
    text-align: center;
    background: #FBFBF9;
    color: #303236;
    @apply text-lg;
  }
}

.gt-input {
  .el-input__wrapper {
    @apply rounded-lg bg-tableHover text-base;
    max-width: 300px;
    height: 36px;
    padding: 10px 15px;
  }
}

.gt-inputSearch {
  .el-input__wrapper {
    @apply text-sm;
    border-radius: 37px;
    max-width: 220px;
    height: 36px;
    padding: 8px 0px 8px 32px;
  }
}

.gt-inputPlain {
  .el-input__wrapper {
    @apply text-base;
    max-width: 280px;
    height: 36px;
    padding: 14px 8px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px rgba(59, 176, 137, 0.2);
    border: 1px solid #d9d9d9;
  }
}

.gt-menu {
  height: 100%;
  --el-menu-bg-color: var(--gt-bg-color) !important;
  .el-menu {
    --el-menu-bg-color: var(--gt-bg-color);
  }
  .el-sub-menu__title,
  .el-menu-item {
    @apply leading-6 text-base;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: #55585e !important;
  }

  .el-sub-menu__title {
    height: 50px;
  }

  .el-menu-item {
    height: 32px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .el-menu-item:hover,
  .el-sub-menu__title:hover {
    --el-menu-hover-bg-color: #e0f2de !important;
  }

  .el-menu-item.is-active {
    background-color: #e0f2de;
    color: #3bb071 !important;
  }

  .el-menu--inline {
    width: 90%;
    margin: 20px auto 0 auto;
    border-top: 1px solid #d9d9d9 !important;
    padding-top: 19px;
  }
}
