@import 'index'; 

::-webkit-scrollbar {
  width: 5px;
  background-color: $gt-gray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $gt-gray-variant;
  &:hover{
      background-color:$gt-gray-dark;
  }
}

$font-weight: (
  100,200,300,400,500,600,700,bold,bolder,lighter,normal
);

@each $key in $font-weight {
  .gt-font-weight-#{$key} {
    font-weight: $key;
  }
}

$max: 60;
@for $i from 12 through $max {
  .gt-font-size-#{$i} {
    font-size: ($i) * 1px;
    line-height: 23px;
  }
}

$font-head-size: (
  1: 24,
  2: 20,
  3: 18,
  4: 16,
  5: 13,
  6: 12
);
@each $key, $value in $font-head-size {
  .gt-h#{$key} {
    font-size: ($value) * 1px;
  }
}
$font-head-line-height: (
  1: 34,
  2: 28,
  3: 24,
  4: 24,
  5: 15,
  6: 14
);
@each $key, $value in $font-head-line-height {
  .gt-h#{$key} {
    line-height: ($value) * 1px;
  }
}


body.desktop{
  $color: (
    primary:  $gt-primary,
    success: $gt-positive,
    warning:  $gt-warning,
    danger: $gt-negative
  );
  $color-hover: (
    primary:  $gt-primary-hover,
    positive: $gt-positive-hover,
    warning:  $gt-warning-hover,
    negative: $gt-negative-hover
  );
  $round-hover-color: (
    primary:  $gt-hover,
    positive: $gt-tag-normal-bg,
    warning:  $gt-tag-warning-bg,
    negative: $gt-tag-danger-bg
  );
  .gt-q-button{
    padding: 8px 16px;
    min-height: auto;
    .q-btn__content{
      line-height: 20px;
      span{
        letter-spacing: .7px;
      }
    }
      &:hover{
        > .q-focus-helper{
            opacity: 0;
        }
      }
      &::before{
          box-shadow: none;
      }
      &.q-btn--rectangle{
          border-radius: 4px;
      }
      &.q-btn--rounded {
          border-radius: 24px;
          @each $key, $value in $round-hover-color {
              &.text-#{$key} {
                  &:hover{
                      background: $value !important;
                  }
              }
          }
      }
      &.on-left{
          margin-right: 5.5px;
      }
      &.on-right {
          margin-left: 5.5px;
      }
      @each $key, $value in $color-hover {
          &.bg-#{$key} {
              &:focus,
              &:hover{
                  background: $value !important;
              }
          }
      }
  }
  .gt-q-link{
      position: relative;
      font-size: 14px;
      &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: -1.25px;
          height: 1px;
          width: 0;
      }
      @each $key, $value in $color {
          &.#{$key} {
            color: $value;
            &:hover{
              &::after{
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -1.25px;
                  height: 1px;
                  width: 100%;
                  background-color: $value;
                  transition: all .25s linear;
              }
            }
          }
      }
  }
  .gt-q-disable-link{
      font-size: 14px;
      pointer-events: none;
      cursor: no-drop;
      color: $gt-gray-variant !important;
  }
  .gt-q-radio{
    .q-radio__inner{
      font-size: 24px;
      margin-right: 10px;
      .q-radio__bg{
        top: calc(50% - 9px);
        left: calc(50% - 9px);
        width: 18px;
        height: 18px;
      }
    }
    &:focus,
    &:hover{
      .q-radio__inner{
        &::before{
          display: none;
        }
      }
    }
  }
  .gt-q-checkbox{
      &.q-checkbox{
        &:focus,
        &:hover{
          .q-checkbox__inner{
            &::before{
              display: none;
            }
          }
        }
        .q-checkbox__inner{
          font-size: 24px;
          margin-right: 10px;
          .q-checkbox__bg{
            top: calc(50% - 9px);
            left: calc(50% - 9px);
            width: 18px;
            height: 18px;
          }
        }
        .q-checkbox__inner--truthy, 
        .q-checkbox__inner--indet{
          svg {
            &.fit{
              width: 70% !important;
              height: 70% !important;
            }
            &.absolute-full{
              top: 10%;
              left: 20%;
            }
          }
        }
      }
  }
  .gt-q-toggle{
      &.q-toggle{
          padding: 5px 15px;
          &:focus,
          &:hover{
            .q-toggle__thumb{
              &::before{
                display: none;
              }
            }
          }
          .q-toggle__inner{
            font-size: 45px;
            width: 40px;
            min-width: 40px;
            height: 20px;
            padding: 0;
            color: #909399;
            .q-toggle__track{
              height: 20px;
              border-radius: 32px;
              opacity: 1;
            }
            .q-toggle__thumb{
              top: 2px;
              left: 2px;
              width: 16px;
              height: 16px;
              .q-icon{
                font-size: 16px;
              }
            }
          }
          .q-toggle__inner--truthy {
            color:$gt-primary;
            .q-toggle__track{
              opacity: 1;
            }
            .q-toggle__thumb{
              left: 22px;
              .q-icon{
                color: $gt-darker;
              }
              &:after{
                background-color: #fff;
              }
            }
          }
      }
  }
  .gt-q-pagination{
      &.q-pagination{
          .q-btn{
            min-width:28px;
            color:$gt-darker;
            font-size: 16px;
            line-height: 23px;
            &.disabled{
              color: $gt-gray-variant !important;
            }
          }
          .q-icon{
            font-size: 14px;
          }
          div.row.justify-center{
            margin: 0 15px;
          }
          .q-btn--standard{
              min-width: 28px !important;
              height: 28px;
              padding: 0 !important;
              background:$gt-darker !important;
          }
      }
  }
  .gt-q-tabs{
    &.q-tabs{
      .q-tab{
        min-height: 32px;
        text-align: center;
        background: #FBFBF9;
        color: $gt-text-dark;
        font-size: 18px;
        line-height: 24px;
        min-width: 130px !important; 
        .q-tab__content{
          padding-top: 0;
        }
        &.q-tab--active{
          color: $gt-darker !important;
        }
        &:focus,
        &:hover{
          .q-focus-helper{
            display: none;
          }
          .q-tab__label{
            color: $gt-darker !important;
          }
        }
      }
      .q-tab__label{
        font-size: 18px;
        line-height: 24px;
        padding: 0 0 4px 0;
      }
    }
  }
  .gt-q-dialog{
    .card-header{
      padding: 12px 40px 8px;
      div{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
      .gt-q-close{
        position: absolute;
        right: 5px;
        opacity: .5;
      }
    }
    .card-body{
      padding: 10px 40px 35px;
      line-height: 23px;
      border-bottom: 1px solid #D9D9D9;
      font-size: 16px;
      color: $gt-text-gray;
    }
    .card-footer{
      padding: 10px 12px;
    }
    .q-icon{
      font-size: 1rem;
    }
  }
  .gt-q-header{
    &.q-layout__section--marginal{
      background-color:$gt-bg !important;
      color: $gt-text-dark !important;
      .q-layout__shadow{
        display: none;
      }
      .q-toolbar{
        padding: 0 60px;
        min-height: 80px;
        height: 80px;
        .q-toolbar__title{
          padding-left: 0;
        }
        .q-btn{
          .q-btn__content{
            .q-icon{
              color:$gt-text-dark;
              &::before,
              &::after{
                color:$gt-text-dark;
              }
            }
            .q-avatar{
              font-size: 50px;
            }
          }
        }
      }
    }
  }
  .q-layout{
   .q-drawer-container{
     .q-drawer.q-drawer--left.q-drawer--bordered{
       border: 0 !important;
     }
   } 
  }
  .gt-q-sidebar{
    position: relative;
    background-color:$gt-bg !important;
    color: $gt-text-dark !important;
    > .q-list{
      &.drawer-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 10;
        background-color:$gt-bg !important;
        .q-item{
          height: 80px;
          padding: 32px 0 20px 67px;
          .q-item__section{
            .q-item__label{
              line-height: 24px !important;
              font-size: 18px;
              font-weight: 700;
              letter-spacing: .8px;
              font-family: 'Noto Sans TC', sans-serif !important;
            }
          }
        }
      }
      &:not(.drawer-list){
        margin-top: 80px;
        height: calc(100% - 300px);
        overflow: inherit;
        overscroll-behavior: contain;
        &::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $gt-bg !important;
          width: 100%;
          height: 220px;
          z-index: 10;
        }
        &::after{
          content: "";
          position: absolute;
          background-image: url(https://www.greattree.com.tw/files/00-logo-icon/logo.svg);
          width: 120px;
          height: 28px;
          z-index: 15;
          bottom: 110px;
          left: 50%;
          transform: translate(-50%, -50%);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50% 50%;
        }
      }
      .q-expansion-item .q-expansion-item__container > .q-item,
      .q-item{
        height: 50px;
        margin: 0 !important;
        padding: 18px 27px 8px 70px;
        &:hover{
          .q-focus-helper{
            opacity: 0;
          }
          .q-item__section{
            .q-item__label{
              color: $gt-primary;
            }
          }
        }
        .q-item__section--avatar{
          min-width: auto;
          padding: 0;
          margin-right: 17px;
          max-height: 24px;
        }
        .q-item__section{
          .q-item__label{
            line-height: 24px !important;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: .8px;
            color: $gt-text-gray;
          }
        }
        &.q-router-link--exact-active{
          color: $gt-primary;
          .q-item__label,
          .q-item__section--side{
            color: $gt-primary;
          }
        }
      }
      .q-item__label.q-item__label--header.text-white{
        color: $gt-text-gray !important;
        padding: 8px 0 8px 80px;
        padding-left: 80px!important;
      }
      .q-expansion-item {
        .q-expansion-item__container{
          .q-item{
            padding-left: 70px !important;
          }
          .q-expansion-item__content{
            > .q-ml-xl.q-item{
              margin-left: 0 !important;
            }
            .q-item{
              margin: 0 !important;
              padding: 8px 0 8px 80px;
              padding-left: 80px!important;
              min-height: auto;
              height: 40px;
              font-size: 16px;
              letter-spacing: .8px;
              font-weight: 500;
              color: $gt-text-gray;
              margin-left: 0 !important;
            }
            .q-list{
              padding: 0 !important;
              .q-item{
                padding: 8px 0 8px 80px;
                padding-left: 80px!important;
                min-height: auto;
                height: 40px;
                font-size: 16px;
                letter-spacing: .8px;
                font-weight: 500;
                color: $gt-text-gray;
              }
            }
          }
        }
      }
    }
  }
}